@import "fonts";
@import "variables";
@import "mixins";
@import "normalize";
@import "generic";
@import "header";
@import "footer";
@import "form";

/* content */

.header__frame {
  padding-top: 0;

  @include breakpoint(medium) {
    padding: 30px;
  }

  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 0;

    @include breakpoint(medium) {
      flex-wrap: wrap;
    }
  }

  &-h1, &-title {
    @include breakpoint(medium) {
      width: 100%;
    }
  }

  &-title {
    @include breakpoint(medium) {
      margin-top: 15px;
    }
  }

  &-lang {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: bold;

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        color: $black;
      }
    }
  }

  img.is-mobile {
    width: 100%;
  }
}

.about__frame {
  &-text {
    width: 485px;
    margin: 0 auto;

    @include breakpoint(medium) {
      max-width: 90%;
      margin: 0 auto;
    }

    p {
      margin: 2em 0;
    }
  }
}

.skills__frame {
  &-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include breakpoint(medium) {
      flex-wrap: wrap;
    }
  }

  &-desc {
    margin: 80px 0;
  }

  &-item {
    @include breakpoint(medium) {
      width: 100%;
      margin: 30px 0;
    }

    &-title {
      color: $grey;
      font-size: 14px;
      font-weight: bold;
      line-height: 17px;
      margin: 24px 0 40px 0;
    }

    &-stars {
      span {
        &.is-grey {
          color: $stargrey;
        }
      }
    }
  }
}

.portfolio__frame {
  &-item {
    margin-top: 50px;

    a {
      display: block;
      margin: 45px 0;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      @include breakpoint(medium) {
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }
}

/* mobile menu */

.menu__mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 10;
  padding: 60px 30px;
  opacity: 0;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    pointer-events: all;
  }

  &-wrapper {
    padding-right: 60px;
  }

  &-link {
    display: block;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    color: $grey;
    text-decoration: none;
    margin-bottom: 60px;

    &.is-active {
      color: $black;
    }
  }

  &-close {
    color: $grey;
    font-size: 23px;
    position: absolute;
    top: 60px;
    right: 30px;
    cursor: pointer;
  }

  &-lang {
    writing-mode: vertical-rl;
    font-weight: bold;
    position: absolute;
    right: 30px;
    bottom: 60px;
    font-size: 34px;
    line-height: 42px;

    a {
      color: $grey;
      text-decoration: none;

      &:hover {
        color: $black;
      }
    }
  }
}

.mobile__burger {
  position: absolute;
  top: 95px;
  right: 30px;
  cursor: pointer;

  &-item {
    background: $black;
    width: 33px;
    height: 4px;

    + div {
      margin-top: 4px;
    }
  }
}